body{
    margin: 20px;
    padding: 10px;
}
img {
    width: 90vh;
    height: 50vh;
}

video{
    height: max-content;
    background-color: blueviolet;
    border: 2px solid red;
}

.media{
    display: flex;
    flex-direction: column;
}